1. Import the CSV file `stations.csv` and assign it to the variable `stations`.

In [5]:
import pandas as pd
stations = pd.read_csv('../data/stations.csv')
stations.head(10)

        fuel state       owner   access  number_of_stations
0  biodiesel    AL  government  private                   8
1  biodiesel    AL     private   public                   2
2  biodiesel    AR  government  private                   1
3  biodiesel    AR     private   public                  16
4  biodiesel    AZ  government  private                  74
5  biodiesel    AZ     private   public                   2
6  biodiesel    CA  government  private                  11
7  biodiesel    CA     private   public                  23
8  biodiesel    CO  government  private                   2
9  biodiesel    CO     private   public                   3

2.  Show the different kinds of fuel included in the dataset.

In [6]:
stations.dtypes

fuel                  object
state                 object
owner                 object
access                object
number_of_stations     int64
dtype: object

In [7]:
stations['fuel'].value_counts()

fuel
electric                  260
compressed natural gas    210
propane                   105
ethanol                    97
biodiesel                  70
liquefied natural gas      50
hydrogen                   27
Name: count, dtype: int64

3. See the different kinds of owners included in the dataset.

In [8]:
stations['owner'].value_counts()

owner
private            413
government         288
utility company    108
joint               10
Name: count, dtype: int64

4.  See the different kinds of access included in the dataset.

In [9]:
stations['access'].value_counts()

access
public     415
private    404
Name: count, dtype: int64

In [11]:
stations['number_of_stations'].describe()

count     819.000000
mean       34.741148
std       118.665095
min         1.000000
25%         2.000000
50%         5.000000
75%        20.500000
max      2423.000000
Name: number_of_stations, dtype: float64

5. Sort `stations` by `number_of_stations` from largest to smallest.

In [12]:
stations['number_of_stations'].value_counts()

number_of_stations
1      190
2      101
4       49
3       47
6       35
      ...
69       1
38       1
64       1
100      1
47       1
Name: count, Length: 137, dtype: int64

6. Sort `stations` by `number_of_stations` from smallest to largest.

In [14]:
stations['number_of_stations'].value_counts(ascending=True)

number_of_stations
246      1
272      1
88       1
84       1
32       1
      ...
6       35
3       47
4       49
2      101
1      190
Name: count, Length: 137, dtype: int64

7. Create a Boolean mask that is True for any row of stations where access is public.

In [15]:
is_plublic = stations['access'] == 'public'

8. Create a Boolean mask that is True for any row of stations where fuel is electric.

In [16]:
is_electric = stations['fuel'] == 'electric'

9. Filter `stations` down to only rows that are both public-access and electric-fuel. Assign the result to the variable `public_electric`.

In [17]:
public_electric = stations[is_plublic & is_electric]

10. Sort public_electric by number_of_stations from smallest to largest. Display the top 5 rows

In [19]:
public_electric.sort_values(by='number_of_stations')
public_electric.head()

         fuel state            owner  access  number_of_stations
281  electric    AK       government  public                   6
282  electric    AK          private  public                  37
283  electric    AK  utility company  public                   3
285  electric    AL       government  public                   1
287  electric    AL          private  public                 102

11. Let's compare privately- and publicly-owned stations. Create a Boolean mask that is True for each row of public_electric where owner is private.

In [20]:
is_owner_private = public_electric['owner'] == 'private'

12. Use the Boolean `is_owner_private` to filter `public_electric` down to only privately-owned rows. Assign the result to the variable `privately_owned`.

In [25]:
privately_owned = public_electric[is_owner_private]
privately_owned.head()

         fuel state    owner  access  number_of_stations
282  electric    AK  private  public                  37
287  electric    AL  private  public                 102
292  electric    AR  private  public                  70
297  electric    AZ  private  public                 294
301  electric    CA  private  public                2423

13. Let's check how many states have privately-owned, publicly-accessible electric charging stations. Call `.describe()` on the `state` column of `privately_owned`.

In [24]:
privately_owned['state'].describe()

count     51
unique    51
top       AK
freq       1
Name: state, dtype: object